<div class="text-center">
  <div class="mb-4 display-4">いいねした投稿</div>
  <% @like_events.each do |event|%>
  <div>
    <%= image_tag event.image, class:"img-thumbnail col-md-6" %>
  </div>
  <div>
    <%= event.user.nickname %>
  </div>
  <% end %>